@{
    ViewBag.Title = "Trang Chủ";
}

<div class="jumbotron"  style="height: 550px">
    <h4 class="center" style="font-weight: bold; text-align:center"> Chào mừng bạn đến với phần mềm quản lý thiết bị y tế thanh trúc!!</h4>
    
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>